.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1ch;
  padding-bottom: 4ch;
  margin: auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 3%;
  max-width: 20%;
  box-sizing: border-box;
}

.title {
  font-size: 80%;
  max-width: 60%;
  margin: auto;
  font-weight: 700;
  text-align: center;
  line-height: 130%;
  color: hsl(218, 44%, 22%);
}

.description {
  margin: auto;
  max-width: 60%;
  line-height: 130%;
  font-size: 50%;
  color: hsl(216, 15%, 48%);
  text-align: center;
}

.base {
  background-color: green;
  border-radius: 3%;
  max-width: 90%;
  /* box-sizing: border-box; */
}